/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bigelow+Rules&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #7ce67f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Kanit, Static;
  font-size: 12px;
}

.player-container {
  position: relative;
  height: 500px;
  width: 400px;
  background: #57a659;;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0.3);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: %;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 180px;
  align-items: center;
}

#play {
  font-size: 30px; /* Adjust this value to make the play button larger */
  color: hsl(0, 0%, 0%); /* You can adjust the color if needed */
}



.buttons-container {
  display: flex;
  justify-content: space-between; /* Space between the buttons */
  align-items: center; /* Aligns buttons vertically */
  width: 150px; /* Adjust width as necessary */
  cursor: pointer;
}

.fa-regular fa-circle-play fa-beat {
  width: 100px;
}

.fa-play {
  font-size: 60px;
}



.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.fa:first-child {
  margin-left: 20px;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
#prev, #next, #pause {
  font-size: 30px;
  color: #131111;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;  /* Smooth transition */
}

#prev:hover, #next:hover, #play:hover, #pause{
  transform: scale(1.2); /* Slightly increase the size on hover */
  color: #ff6347;
}


.main-button {
  font-size: 60px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width:95vw;
  }


  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
